@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #fff, #0c0d1c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: #0c0d1c;
	border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
	background-color: #0c0d1c;
	border-radius: 15px;
	border: 1px solid #fff;
}

::selection {
	color: #000000de;
	background: #ef1884c3;
}

.prose table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  border-collapse: collapse;
}

.prose thead,
.prose tbody,
.prose tr {
  display: block;
  width: 100%;
}

.prose th,
.prose td {
  display: block;
  width: 100%;
  padding: 0;
}

.prose th img,
.prose td img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* captions */
.prose td em {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  opacity: 0.75;
}
