@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: #fff, #0c0d1c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: #0c0d1c;
	border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
	background-color: #0c0d1c;
	border-radius: 15px;
	border: 1px solid #fff;
}

::selection {
	color: #000000de;
	background: #ef1884c3;
}
